<section class="section--default bg-white py-12 sm:py-16 lg:pb-20 xl:pb-24">
    <div class="container">
        <div class="mx-auto section-header-gap max-w-3xl items-center text-center">
            <h1>{{ title }}</h1>
            {{ if text }}
                <p class="text-lg text-balance">{{ text }}</p>
            {{ /if }}
        </div>
        {{ if divider }}
            <div class="mt-12 xl:mt-16 hidden border-t border-black/10 lg:block" aria-hidden="true"></div>
        {{ /if }}
    </div>
</section>
