<section class="{{ if image }}hero-frame{{ /if }} relative isolate overflow-hidden" data-header="hero">
    {{ if image }}
        <div data-header-media>
            {{ img :src="image" fill="true" ratio="1/2" sm:ratio="2/3" lg:ratio="16/9" 2xl:ratio="2/1" max_width="2560" sizes="100vw" priority="true" }}
        </div>

        <div class="absolute inset-0 h-1/2 bg-linear-to-b from-black/75 to-transparent" aria-hidden="true"></div>
    {{ /if }}
    <div class="{{ if image }}absolute inset-0 {{ /if }}flex container items-end pb-8 lg:pb-12">
        <div
            class="flex w-full max-w-md flex-col gap-6 rounded-md bg-white p-8 md:max-w-xl lg:gap-7 lg:p-12 xl:max-w-2xl">
            <h1 class="text-3xl!">{{ title }}</h1>
            {{ if text }}
                <p>{{ text }}</p>
            {{ /if }}

            {{ if link }}
                <div data-header-action>
                    {{ partial:link style="btn btn--outline" }}
                </div>
            {{ /if }}
        </div>
    </div>
</section>
{{ if value_proposition:items }}
    <section class="bg-black text-white" data-header="value-proposition">
        <div
            class="container flex flex-col gap-6 py-10 lg:gap-10 lg:py-12 2xl:flex-row 2xl:items-stretch 2xl:gap-12 2xl:py-0">
            {{ if value_proposition:title }}
                <h2 class="value-proposition__title 2xl:w-[303px] 2xl:shrink-0 2xl:self-center">
                    {{ value_proposition:title }}
                </h2>
            {{ /if }}
            <ul class="flex flex-col lg:flex-row 2xl:flex-1">
                {{ value_proposition:items }}
                    <li
                        class="flex flex-1 items-start gap-6 border-t border-white/25 py-7 lg:border-t-0 lg:border-l lg:px-6 lg:py-0 lg:first:border-l-0 lg:first:pl-0 lg:last:pr-0 xl:px-8 2xl:py-12 2xl:first:border-l 2xl:first:pl-8">
                        {{ if icon }}
                            {{ icon:index src="{{ icon | raw }}" class="size-10 shrink-0 text-accent" aria-hidden="true" }}
                        {{ /if }}
                        <div class="flex flex-col gap-3">
                            {{ if title }}
                                <h3 class="value-proposition__item-title">{{ title }}</h3>
                            {{ /if }}
                            {{ if text }}
                                <p class="value-proposition__item-text">{{ text }}</p>
                            {{ /if }}
                        </div>
                    </li>
                {{ /value_proposition:items }}
            </ul>
        </div>
    </section>
{{ /if }}
