{{ partial:headers/default }}
<section class="section section--default">
    <div class="container">

        {{ form:contact }}
            {{ if errors }}
                <div>
                    {{ errors }}
                        {{ value }}
                    {{ /errors }}
                </div>
            {{ /if }}
            {{ fields }}
                <fieldset>
                    <label>{{ display }}</label>
                    {{ field }}
                    {{ if error }}
                        <p>{{ error }}</p>
                    {{ /if }}
                </fieldset>
            {{ /fields }}
            <input type="text" class="hidden" name="{{ honeypot ?? 'honeypot' }}">
            {{ if success }}
                <div class="btn btn--primary">
                    Message sent
                    {{ icon src="check" }}
                </div>
            {{ else }}
                <button type="submit" class="btn btn--primary">Submit</button>
            {{ /if }}
        {{ /form:contact }}
    </div>
</section>


<section class="section section--default">
    <div class="container">
        <ul
            class="flex md:flex-row flex-col gap-5 md:gap-8 lg:gap-12 3xl:gap-20 xl:gap-16 mx-auto w-fit text-white text-sm sm:text-base lg:text-lg text-center">
            <li>
                <a class="flex items-center gap-3 sm:gap-4 hover:text-apple"
                    href="mailto:{{ company_information:contact:email }}">
                    {{ svg src="icons/mail" class="stroke-1 size-6 lg:size-7 text-apple" }}
                    {{ company_information:contact:email }}
                </a>
            </li>
            <li>
                <a class="flex items-center gap-3 sm:gap-4 hover:text-apple"
                    href="tel:{{ company_information:contact:phone }}">
                    {{ svg src="icons/phone" class="stroke-1 size-6 lg:size-7 text-apple" }}
                    {{ company_information:contact:phone }}
                </a>
            </li>
            <li>
                {{ company_information:company }}
                    {{ address = "{street} {number}, {postal} {city}" }}
                    <a class="flex items-center gap-3 hover:text-apple">
                        {{ svg src="icons/map-pin" class="stroke-1 size-6 lg:size-7 text-apple" }}
                        {{ address }}
                    </a>
                {{ /company_information:company }}
            </li>
        </ul>
    </div>
</section>

{{ partial:pageBuilder }}
{{ recaptcha }}
<section class="section section--default">
    <div class="container">
        {{ if globals:company:street and globals:company:city }}
            <address>
                {{ globals:company:street }}
                {{ globals:company:number }}<br>
                {{ globals:company:postal }}
                {{ globals:company:city }}<br>
            </address>
        {{ /if }}
        {{ if globals:contact:phone }}
            <a href="tel:{{ globals:contact:phone }}">{{ globals:contact:phone }}</a>
        {{ /if }}
        {{ if globals:contact:email }}
            <a href="mailto:{{ globals:contact:email }}">{{ globals:contact:email }}</a>
        {{ /if }}
        <ul>
            {{ iconClass = "size-8" }}
            {{ if globals:socials:facebook }}
                <li>
                    <a href="{{ globals:socials:facebook }}">
                        {{ icon src="facebook-logo" class="{{ iconClass }}" }}
                    </a>
                </li>
            {{ /if }}
            {{ if globals:socials:instagram }}
                <li>
                    <a href="{{ globals:socials:instagram }}">
                        {{ icon src="instagram-logo" class="{{ iconClass }}" }}
                    </a>
                </li>
            {{ /if }}
            {{ if globals:socials:youtube }}
                <li>
                    <a href="{{ globals:socials:youtube }}">
                        {{ icon src="youtube-logo" class="{{ iconClass }}" }}
                    </a>
                </li>
            {{ /if }}
            {{ if globals:socials:linkedin }}
                <li>
                    <a href="{{ globals:socials:linkedin }}">
                        {{ icon src="linkedin-logo" class="{{ iconClass }}" }}
                    </a>
                </li>
            {{ /if }}
        </ul>
    </div>
</section>


{{ partial:pageBuilder }}