<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial:fonts }}
    {{ partial:seo }}
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    {{ partial:analytics }}
    {{ vite src="resources/js/site.js|resources/css/site.css" }}
</head>
<body>
    {{ partial:skipLink }}
    {{ partial:navigation }}
    <main id="main-content" tabindex="-1" class="pb-14 md:pb-0">
        {{ template_content }}
    </main>
    {{ partial:footer }}
    {{ partial:mobileNav }}
    {{ partial:editPage }}
    <script src="//instant.page/5.2.0" type="module"
        integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"></script>
    {{ yield:scripts }}
    {{ partial:cookieConsent }}
</body>
</html>