<section class="section section--default relative isolate overflow-hidden">
    <div class="container">
        <div class="offerte-layout">
            <div class="offerte-heading">
                <h1 class="header-title">{{ title }}</h1>
                {{ if text }}
                    <p>{{ text }}</p>
                {{ /if }}
            </div>

            {{ partial:offerteForm }}
            {{ if image }}
                {{# Geen schaal of negatieve marges: de sectie eromheen snijdt met `overflow-hidden` af wat erbuiten valt, en dat kostte de onderkant van de rolmeter. #}}
                <div class="offerte-still hidden lg:block">
                    {{ img :src="image" max_width="1024" sizes="(min-width: 1024px) 30vw, 90vw" class="h-auto w-full object-contain" }}
                </div>
            {{ /if }}
        </div>
    </div>
</section>

{{ partial:pageBuilder }}
