{{ partial:headers/default divider="true" }}

<section class="section section--default" data-section="range-overview">
    <div class="container">
        <div class="section-y-gap">
            {{ taxonomy:range_categories sort="order:asc" }}
                {{ collection:ranges range_category:overlaps="{slug}" as="ranges_in_category" }}
                    {{ if ranges_in_category }}
                        <div class="section-header-gap">
                            {{ partial:overline :label="title | entities" }}

                            <ul class="grid grid-gutter lg:grid-cols-2">
                                {{ ranges_in_category }}
                                    <li>{{ partial:rangeCard }}</li>
                                {{ /ranges_in_category }}
                            </ul>
                        </div>
                    {{ /if }}
                {{ /collection:ranges }}
            {{ /taxonomy:range_categories }}
        </div>
    </div>
</section>

{{ partial:pageBuilder }}
