<a href="{{ url }}" class="article-card group flex h-full flex-col gap-6">
    {{ if image }}
        {{ img :src="image" ratio="1/1" sizes="(min-width: 1024px) 33vw, 90vw" class="rounded-md max-h-100" }}
    {{ /if }}

    <div class="flex grow flex-col justify-end gap-2.5">
        {{ if theme }}
            <span class="article-card__category">{{ theme.title }}</span>
        {{ /if }}
        <div class="flex items-end justify-between gap-4">
            <h3>{{ title }}</h3>
            <span aria-hidden="true" class="contents">
                {{ icon src="arrow-right" class="size-6 lg:size-7 shrink-0 -rotate-45 transition-transform group-hover:translate-x-1" }}
            </span>
        </div>
    </div>
    <div class="mt-auto h-px w-full bg-black/10"></div>
</a>
