<article class="@container">
    <div class="relative">
        {{ img :src="image" :alt="image.alt" ratio="16/9" max_width="960" sizes="33vw" }}
        <h3 class="">
            <a class="link-extended" href="{{ url }}">{{ preview_title ?? title }}</a>
        </h3>
        <p class="">
            {{ if preview_intro }}
                {{ preview_intro | truncate:200:'...' }}
            {{ else }}
                {{ intro | truncate:200:'...' }}
            {{ /if }}
        </p>
    </div>
</article>