<div class="md:hidden" data-mobile-nav>
    {{ partial:hamburger version="3" class="top-6 right-4" aria_label="Open menu" controls="mobile-navigation-panel" data_target="mobile-navigation-panel" }}
    <div class="mobile-navigation__overlay" data-mobile-nav-overlay></div>

    <aside id="mobile-navigation-panel" class="mobile-navigation__panel" data-mobile-nav-panel role="dialog"
        aria-label="Main navigation" aria-modal="true" aria-hidden="true" tabindex="-1">
        <div class="mobile-navigation__content">
            <p class="sr-only" id="mobile-navigation-title">Main navigation</p>
            <nav aria-labelledby="mobile-navigation-title">
                <ul class="mobile-navigation__list">
                    {{ nav:main }}
                        <li>
                            <a href="{{ entry.url }}">{{ title }}</a>
                        </li>
                    {{ /nav:main }}
                </ul>
            </nav>
        </div>
    </aside>
</div>