<div class="quicklink-card flex h-full flex-col rounded-md bg-light card-padding">
    {{ if image }}
        <div class="quicklink-media">
            {{ img :src="image" max_width="640" sizes="(min-width: 1024px) 30vw, 90vw" class="h-auto max-h-28 w-auto max-w-full object-contain lg:max-h-40 lg:-ml-2" }}
        </div>
    {{ /if }}
    <div class="flex grow flex-col gap-4 xl:gap-5">
        <h3>{{ title | entities }}</h3>
        {{ if text }}
            <p>{{ text | entities }}</p>
        {{ /if }}
        {{ if link }}
            {{ partial:link :style="link_style == 'outline' ? 'btn btn--outline' : 'btn btn--primary'" }}
        {{ /if }}
    </div>
</div>
