{{ if accent_bg }}
    {{ rule_class = ' overline--rule-dark' }}
{{ else }}
    {{ rule_class = '' }}
{{ /if }}
{{ if title || text || overline || link }}
    <div
        class="section-header {{ is_centered ? 'lg:items-center lg:text-center' : '' }} {{ link_col ? "lg:flex-row lg:justify-between lg:items-end" : "" }} flex flex-col gap-4">
        <div class="flex flex-col gap-4 lg:gap-6">
            {{ if overline }}
                <div class="{{ is_centered ? "overline--center" : "" }} {{ rule_class }} overline">
                    {{ overline }}
                </div>
            {{ /if }}
            {{ if title }}
                <{{ tag ?? 'h2' }} class="max-w-3xl">{{ title }}</{{ tag ?? 'h2' }}>
            {{ /if }}
            {{ if text }}
                <div class="rich-text max-w-2xl">{{ text }}</div>
            {{ /if }}
        </div>
        {{ if link }}
            {{ partial:link :style="btn_variant" }}
        {{ /if }}
    </div>
{{ /if }}
