{{ if services }}
    <nav class="hidden lg:block" aria-label="Op deze pagina" data-section="section-nav">
        <div class="container">
            <div class="border-t border-black/10 pt-8">
                <ul class="flex flex-wrap items-center gap-3">
                    {{ services }}
                        {{ if overline }}
                            <li>
                                <a href="#{{ overline | slugify }}" class="btn--outline btn">
                                    {{ overline }}
                                    {{ icon src="arrow-down"  }}
                                </a>
                            </li>
                        {{ /if }}
                    {{ /services }}
                    <li class="ml-auto">
                        <a href="#herstelling" class="btn btn--secondary">
                            {{ icon src="wrench" }}
                            Herstelling melden
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{{ /if }}
