<div class="slider-shell">
    <div
        class="slider {{ bleed ? 'slider-bleed' : '' }}"
        data-slider
        data-slider-per-view="{{ per_view }}"
        data-slider-space="{{ space }}"
        {{ if from }}data-slider-from="{{ from }}"{{ /if }}
        {{ if pagination }}data-slider-pagination="true"{{ /if }}
        {{ if navigation }}data-slider-navigation="true"{{ /if }}>
        <div class="swiper-wrapper ">
            {{ slot }}
        </div>
        {{ if pagination }}
            <div class="swiper-pagination"></div>
        {{ /if }}
    </div>
    {{ if navigation }}
        <div class="slider__nav">
            <button type="button" class="swiper-button-prev" aria-label="{{ trans:site.slider_previous }}">
                {{ svg src="arrow" aria-hidden="true" class="w-4 lg:w-5 h-auto rotate-180" }}
            </button>
            <button type="button" class="swiper-button-next" aria-label="{{ trans:site.slider_next }}">
                {{ svg src="arrow" aria-hidden="true" class="w-4 lg:w-5 h-auto" }}
            </button>
        </div>
    {{ /if }}
</div>
