{{ partial:headers/default divider="true" }}
<section class="section section--default" data-section="projects-overview" x-data="projectFilter()">
    <div class="container">
        {{# De filterkolom is zo breed als zijn breedste pil; de grid krijgt de rest. #}}
        <div class="grid grid-gutter gap-8 lg:grid-cols-[max-content_1fr] lg:gap-x-16 2xl:gap-x-20">
            {{ partial:rangeFilter }}
            <ul class="grid grid-gutter md:grid-cols-2">
                {{ collection:projects }}
                    {{ range_slug = '' }}
                    {{ if range }}{{ range_slug = range:slug }}{{ /if }}
                    <li
                        {{ if get:range && get:range != range_slug }}hidden{{ /if }}
                        :hidden="!matches('{{ range_slug }}')">
                        {{ partial:projectCard }}
                    </li>
                {{ /collection:projects }}
            </ul>
        </div>
    </div>
</section>

{{ partial:pageBuilder }}
