.project-card__category {
    @apply font-semibold uppercase text-black/40;

    font-size: clamp(0.75rem, 0.571rem + 0.446vw, 1rem); /* 12 → 16 */
    letter-spacing: 0.02em; /* 2% van de fontsize, gemeten in Figma */
    line-height: 1.1;
}
