<section class="section section--default" data-section="articles">
    <div class="container">
        <div class="section-y-gap">
            {{#
                `text` staat niet in deze set, dus zonder expliciete lege waarde valt `sectionHeader` terug op de velden van de
                pagina zelf. Op /home zette dat de hero-intro en de knop "Ontdek ons aanbod" boven de aanbodslider.
            #}}
            {{ partial:sectionHeader link_col="true" text="" }}
            {{ if articles }}
                {{ partial:slider per_view="1.15,md:2.15" space="24,md:32,lg:40" from="xl" bleed="true" }}
                    {{ articles }}
                        <div class="swiper-slide">
                            {{ partial:articleCard }}
                        </div>
                    {{ /articles }}
                {{ /partial:slider }}
            {{ /if }}
        </div>
    </div>
</section>
