<section class="section section--default overflow-hidden {{ firstSectionClass }}">
    {{ if firstSectionClass }}
        {{ partial:headerScoop }}
    {{ /if }}
    <div class="container">
        <div class="section-y-gap">
            <div class="relative">
                <div class="sm:w-2/3 xl:w-1/2">
                    <div>{{ partial:sectionHeader }}</div>
                </div>
                {{ partial:carouselButtons }}
            </div>
            <div class="swiper projects-carousel w-full overflow-visible!">
                <div class="swiper-wrapper">
                    {{ if cases }}
                        {{ cases }}
                            <div class="swiper-slide">{{ partial:project }}</div>
                        {{ /cases }}
                    {{ else }}
                        {{ collection:cases }}
                            <div class="swiper-slide">{{ partial:project }}</div>
                        {{ /collection:cases }}
                    {{ /if }}
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>