<section class="section section--default">
    <div class="container">
        <div class="section-y-gap">
            {{ partial:sectionHeader }}
            <div class="space-y-4">
                {{ collapses }}
                    <details class="bg-gray-200 p-4">
                        <summary class="">
                            <span class="">{{ title }}</span>
                            {{ icon src="plus" class="size-8" }}
                        </summary>
                        <div class="rich-text">
                            {{ text }}
                        </div>
                    </details>
                {{ /collapses }}
            </div>
        </div>
    </div>
</section>
