<section class="cta relative isolate overflow-hidden pt-80 pb-10 parallax-frame lg:py-20 xl:py-28" data-section="cta">
    {{ if image }}
        {{ img :src="image" fill="true" sizes="100vw" class="cta__media parallax-media size-full object-cover" }}
    {{ /if }}
    <div
        class="{{ align == 'right' ? 'lg:items-end' : '' }} relative container flex flex-col items-start justify-end lg:justify-center">
        <div class="w-full max-w-md rounded-md bg-black/25 card-padding-xl text-white backdrop-blur-sm lg:hidden">
            {{ partial:sectionHeader btn_variant="btn btn--primary" }}
        </div>

        <div class="hidden w-full rounded-md bg-accent card-padding-lg lg:block lg:w-auto lg:max-w-lg 2xl:max-w-xl">
            {{ partial:sectionHeader btn_variant="btn btn--secondary" accent_bg="true" }}
        </div>
    </div>
</section>
