<section class="section section--default relative isolate" data-section="grid_cta">
    <div class="container">
        <div class="section-x-gap items-end">
            {{ if image }}
                <div class="relative section-col-half">
                    {{ img :src="image" class="object-contain" }}
                    {{ svg src="shape-full" aria-hidden="true" class="pointer-events-none absolute -z-10 top-1/2 left-1/2 -translate-x-[85%] -translate-y-[10%] w-full h-auto scale-125 sm:scale-160" }}
                </div>
            {{ /if }}
            {{ if grid }}
                <div class="flex section-col-half flex-col gap-6 sm:gap-8">
                    {{ grid }}
                        <div
                            class="{{ index % 2 == 0 ? 'bg-light' : 'bg-accent' }} flex flex-col gap-4 rounded-md card-padding-lg sm:gap-6">
                            {{ if title }}
                                <h3 class="text-2xl!">{{ title }}</h3>
                            {{ /if }}
                            {{ if text }}
                                <p>{{ text }}</p>
                            {{ /if }}
                            {{ if link }}
                                {{ partial:link :style="index % 2 == 0 ? 'btn btn--primary' : 'btn btn--secondary'" }}
                            {{ /if }}
                        </div>
                    {{ /grid }}
                </div>
            {{ /if }}
        </div>
    </div>
</section>
