<section class="section {{ bgColor }} {{ roundedCorners }} {{ firstSectionClass }}" data-list-stacking>
    {{ if firstSectionClass }}
        {{ partial:headerScoop }}
    {{ /if }}
    <div class="container">
        <div class="section-y-gap">
            <div class="sm:w-2/3 xl:w-1/2">
                {{ partial:sectionHeader }}
            </div>
            {{ shuffled_shapes = [1, 2, 5, 6, 7, 10, 13] | shuffle }}
            <div class="border-b border-black/25" data-list-stacking-wrapper>
                {{ list_items }}
                    {{ partial:listItem }}
                {{ /list_items }}
            </div>
        </div>
    </div>
</section>