<section class="section section--default" data-section="products">
    <div class="container">
        <div class="section-y-gap">
            {{ partial:sectionHeader is_centered="true" }}
            {{ if products }}
                <ul
                    class="grid grid-cols-1 gap-6 sm:grid-cols-2 xl:grid-cols-6 xl:gap-8 xl:[&>*]:col-span-2 sm:max-xl:[&>*:nth-child(2n+1):last-child]:col-span-2 xl:[&>*:nth-child(3n+1):last-child]:col-span-6 xl:[&>*:nth-child(3n+1):nth-last-child(2)]:col-span-3 xl:[&>*:nth-child(3n+1):nth-last-child(2)~*]:col-span-3">
                    {{ products }}
                        <li>{{ partial:productCard }}</li>
                    {{ /products }}
                </ul>
            {{ /if }}
        </div>
    </div>
</section>
