<section class="section section--default" data-section="products">
    <div class="container">
        <div class="section-y-gap">
            {{ partial:sectionHeader is_centered="true" }}

            {{ if products }}
                {{ partial:slider per_view="1.15,sm:2" from="md" }}
                    {{ products }}
                        <div class="swiper-slide">
                            {{ partial:card }}
                        </div>
                    {{ /products }}
                {{ /partial:slider }}
            {{ /if }}
        </div>
    </div>
</section>
