<section class="section section--default" data-section="projects">
    <div class="container">
        <div class="section-y-gap">
            {{ partial:sectionHeader link_col="true" }}
            {{ if projects }}
                {{ partial:slider per_view="1.15,md:2.15" space="24,md:32,lg:40" from="xl" bleed="true"  }}
                    {{ projects }}
                        <div class="swiper-slide">
                            {{ partial:projectCard }}
                        </div>
                    {{ /projects }}
                {{ /partial:slider }}
            {{ /if }}
        </div>
    </div>
</section>
