<section class="section section--default" data-section="projects">
    <div class="container">
        <div class="section-y-gap">
            {{ partial:sectionHeader }}

            {{ if projects }}
                {{ partial:slider per_view="1.15" from="md" bleed="true" }}
                    {{ projects }}
                        <div class="swiper-slide">
                            {{ partial:projectCard }}
                        </div>
                    {{ /projects }}
                {{ /partial:slider }}
            {{ /if }}
        </div>
    </div>
</section>
