<section class="section section--default" data-section="ranges">
    <div class="container">
        <div class="section-y-gap">
            {{ partial:sectionHeader }}
            {{ if range }}
                {{ partial:slider per_view="1.1,md:2.1"  space="16,lg:20" navigation="true" bleed="true" }}
                    {{ range }}
                        <div class="swiper-slide">
                            {{ partial:rangeCard }}
                        </div>
                    {{ /range }}
                {{ /partial:slider }}
            {{ /if }}
        </div>
    </div>
</section>
