{{ if reparation }}
    {{ reparation }}
        <section
            id="herstelling"
            class="section section--light relative isolate overflow-hidden"
            data-section="reparation">
            <div class="pointer-events-none absolute inset-0 -z-10 overflow-hidden" aria-hidden="true">
                {{ svg src="shape-full" class="absolute -bottom-[10%] -left-[30%] h-auto w-[110%] [&_path]:fill-light-shape lg:-left-[38%] lg:w-[85%]" }}
            </div>

            <div class="container">
                <div class="section-x-gap items-start lg:items-stretch">
                    <div class="section-col-narrow flex flex-col gap-12 lg:justify-between">
                        {{ partial:sectionHeader }}
                        {{ if image }}
                            <div class="lg:-ml-24 xl:-ml-32">
                                {{ img :src="image" max_width="1200" sizes="(min-width: 1024px) 40vw, 90vw" class="h-auto w-full" }}
                            </div>
                        {{ /if }}
                    </div>

                    <div class="section-col-wide rounded-md bg-white card-padding-lg">
                        {{ partial:reparationForm }}
                    </div>
                </div>
            </div>
        </section>
    {{ /reparation }}
{{ /if }}
