<section class="section section--default {{ firstSectionClass }}">
    {{ if firstSectionClass }}
        {{ partial:headerScoop }}
    {{ /if }}
    {{ if reviews | length == 1 }}
        <div class="container">
            {{ reviews }}
                {{ partial:review single="true" }}
            {{ /reviews }}
        </div>
    {{ else if reviews | length > 1 }}
        <div class="reviews-marquee">
            <div class="reviews-marquee__track">
                {{ reviews }}
                    <div class="reviews-marquee__item">
                        {{ partial:review }}
                    </div>
                {{ /reviews }}
            </div>
        </div>
    {{ /if }}
</section>