<section class="section section--default" data-section="technical_details">
    <div class="container">
        <div class="section-x-gap">
            <div class="section-col-half">
                {{ partial:sectionHeader link_col="false" }}
            </div>
            {{ if technical_details }}
                <dl class="flex section-col-half flex-col sm:order-first">
                    {{ technical_details }}
                        <div
                            class="specs__row flex flex-col gap-1 border-b border-black/10 py-3 sm:flex-row sm:items-center sm:gap-8">
                            <dt class="text-base font-semibold sm:flex-1">{{ key }}</dt>
                            <dd class="text-base sm:flex-1">{{ value }}</dd>
                        </div>
                    {{ /technical_details }}
                </dl>
            {{ /if }}
        </div>
    </div>
</section>
