{{ if background }}
    {{ image_base_ratio = "3/4" }}
{{ else }}
    {{ image_base_ratio = "16/9" }}
{{ /if }}
{{ if background }}
    {{ text_column_class = "bg-light card-padding" }}
{{ elseif text_first }}
    {{ text_column_class = "" }}
{{ else }}
    {{ text_column_class = "order-last" }}
{{ /if }}
<section
    {{ if anchor }} id="{{ anchor }}"{{ /if }}
    class="section section--default {{ background ? 'text-image--background' : '' }}"
    data-section="text_image">
    <div class="container">
        <div class="section-x-gap items-center">
            <div class="{{ text_column_class }} section-col-wide">
                {{ partial:sectionHeader }}
                {{ partial:featureList :items="features" }}
            </div>
            {{ if image }}
                <div class="section-col-narrow">
                    {{ img :src="image" ratio="4/3" sm:ratio="5/4" max_width="1600" sizes="(min-width: 640px) 50vw, 100vw" class="rounded-sm" }}
                </div>
            {{ /if }}
        </div>
    </div>
</section>
