<section class="section section--default" data-section="text">
    <div class="container">
        <div class="section-x-gap">
            <div class="section-col-wide">
                {{ if title }}
                    <h2>{{ title }}</h2>
                {{ /if }}
            </div>

            <div class="section-col-narrow">
                {{ if text }}
                    <div class="rich-text">{{ text }}</div>
                {{ /if }}
                {{ if link }}
                    {{ partial:link }}
                {{ /if }}
            </div>
        </div>
    </div>
</section>
