Dag {{ name }},

Bedankt voor je interesse. Dit zijn de brochures die je aanvroeg:

{{ brochures }}
- {{ label }}: {{ url }}
{{ /brochures }}

Klaar voor de volgende stap?

1. Bezoek een showroom in Dilbeek, Sint-Pieters-Leeuw of Aartselaar en bekijk de mogelijkheden ter plaatse: {{ config:app:url }}/contact
2. Vraag een bezoek van een vertegenwoordiger, voor persoonlijk advies bij jou thuis: {{ config:app:url }}/contact
3. Vraag een vrijblijvende offerte, enkele korte vragen en je kent je richtprijs: {{ config:app:url }}/offerte

Tot binnenkort,
Winsol Brebo
