{{ partial:headers/default divider="true" }}
<section class="section section--default" data-section="articles-overview" x-data="articleFilter()">
    <div class="container">
        {{# De filterkolom is zo breed als zijn breedste pil; de grid krijgt de rest. #}}
        <div class="grid grid-gutter gap-8 lg:grid-cols-[max-content_1fr] lg:gap-x-16 2xl:gap-x-20">
            {{ partial:themeFilter }}
            <ul class="grid grid-gutter md:grid-cols-2">
                {{ collection:articles }}
                    {{# Ternary en geen `{{ if }}`-blok: dit zet één waarde.
                        `projects/index` gebruikte hier nog twee regels. #}}
                    {{ theme_slug = themes ? themes:slug : '' }}
                    <li
                        {{ (get:theme && get:theme != theme_slug) ? 'hidden' : '' }}
                        :hidden="!matches('{{ theme_slug }}')">
                        {{ partial:articleCard }}
                    </li>
                {{ /collection:articles }}
            </ul>
        </div>
    </div>
</section>

{{ partial:pageBuilder }}
