.section {
    padding-block: var(--spacing-section-half);
}

@media (min-width: 1024px) {
    .section {
        padding-block: var(--spacing-section);
    }
}

.section--default + .section--default {
    padding-top: 0 !important;
}
