h1,
h2,
h3,
h4 {
    @apply font-semibold text-balance;

    line-height: 1.1;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

p {
    @apply text-base;

    line-height: 1.5;
}

@utility overline {
    @apply relative text-xs font-semibold tracking-wide uppercase;
    text-decoration-line: none !important;

    &::after {
        @apply w-5 h-0.75;
        content: '';
        position: absolute;
        background: var(--color-accent);
        bottom: -50%;
        left: 0;
    }
}
