h1,
h2,
h3,
h4 {
    @apply font-semibold text-balance;

    line-height: 1.1;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-lg;
    line-height: 120%;
}

h4 {
    @apply text-lg;
}

p {
    @apply text-base;

    line-height: 1.5;
}

.overline {
    @apply relative text-sm font-semibold tracking-wide uppercase;
    text-decoration-line: none !important;

    &::after {
        @apply h-0.75 w-5;
        content: '';
        position: absolute;
        background: var(--color-accent);
        bottom: -50%;
        left: 0;
    }
}

.overline--center::after {
    @apply lg:-translate-x-1/2 lg:left-1/2;
}
